<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <body>

        <ui:composition template="./template.xhtml">

            <ui:define name="content">
                <h:dataTable value="#{mensajesController.mensajes}" var="mensaje">
                    <h:column>
                        <h:outputText value="#{mensaje}" />
                    </h:column>
                </h:dataTable>
            </ui:define>

        </ui:composition>

    </body>
</html>
