<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <body>

        <ui:composition template="./template.xhtml">

            <ui:define name="content">
                <h:form>
                    Destinatario:<h:inputText value="#{mensajesController.destinatario}" /><br />
                    Mensaje:<h:inputText value="#{mensajesController.mensaje}" /><br />
                    <h:commandButton value="Enviar" action="#{mensajesController.enviar}" />

                    <!-- necesario porque mensajesController esta en request -->
                    <h:inputHidden value="#{mensajesController.usuario}" />
                </h:form>
            </ui:define>

        </ui:composition>

    </body>
</html>
